{
  "extends": ["airbnb", "airbnb-typescript", "plugin:react-hooks/recommended"],
  "env": {
    "jest": true
  },
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/state-in-constructor": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/label-has-associated-control": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "state"
      ]
    }],
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/no-extraneous-dependencies":[
      "error",
      {
         "devDependencies":[
            "**/webpack.*.js"
         ]
      }
   ]
  }
}
