{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/state-in-constructor": "off",
    "react/destructuring-assignment": "off",
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/no-extraneous-dependencies":[
      "error",
      {
         "devDependencies":[
            "**/webpack.*.js"
         ]
      }
   ]
  }
}
