@import '../../scss/variables';

.filterBar {
  margin-inline: 50px;

  &__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    margin-bottom: 30px;
  }
}

.filterDropdown__button.ui.dropdown.visible {
  .dropdown.icon:before {
    content: "\f0d8";
  }
}
