.ui.modal {
  position: initial;
  background-color: $dark-grey;
  padding: 60px;
}

.ui.dimmer {
  position: fixed;
  background-color: rgba($black, 0.7);
  justify-content: initial;
  padding-block: 150px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.modal {
  &__close-cross {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 22px;
    height: 21px;
    background-image: url(../assets/icons/close-cross.svg);
    cursor: pointer;
  }

  &__title {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    text-transform: uppercase;
  }
}
