.filterGenre {
  display: flex;
  font-weight: 500;
  line-height: 20px;

  .activeTab {
    box-shadow: 0 2px $red;
  }

  li {
    margin-right: 30px;
    padding-block: 15px 15px;
    cursor: pointer;
  }
}
